* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #eee;
}

.container {
    max-width: 980px;
    margin: auto;
    padding: 0 30px;
}

.heading {
    text-align: center;
    margin: 20px 0;
}

.input {
    width:  100%;
    max-width: 400px;
    display: block;
    margin: 30px auto;
    padding: 7px 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    outline: none;   
}