* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    width: 980px;
    margin: auto;
}

h1, h2, .datepicker__content {
    text-align: center;
}

.datepicker__input {
    width: 400px;
    margin: 20px auto;
}

.datepicker__input input {
    width:  100%;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid gray;
}

.calendar {
    display: inline-block;
}

.calendar__table, .calendar__days {    
    display: grid;
    grid-template-columns: repeat(7,14%);    
}

.calendar__days {
    display: grid;
    grid-template-columns: repeat(7,14%);    
}

.datepicker__date, .datepicker__label, .datepicker__date_disabled {
    padding: 10px;
    text-align: center;
    background: lightblue;
    cursor: pointer;
}

.datepicker__date_disabled {
    opacity: 0.7;
    pointer-events: none;
    cursor: default;
}

.datepicker__label {
   background: teal;  
}

.hidden {
    display: none;
}

.calendar__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar__heading i {
    cursor: pointer;
}

.calendar__current-date {
    margin: 10px;
}