.datepicker {
    max-width: 400px;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background: #fff;
}

.datepicker_hidden {
    display: none;
}

.calendar__label {
    width: 100%;
    border: none;
    background: rgba(0, 128, 128);
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    padding: 15px 10px;
    cursor: pointer;
}

.calendar__label:hover {
    background: rgba(0, 138, 138);
}

.calendar__label:active {
    background: rgba(0, 118, 118);
    transition: none;
}

.calendar__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

.calendar__month {
    font-size: 1em;
    font-weight: bold;
}

.calendar__button {
    padding: 10px;
    cursor: pointer;
    background: inherit;
    border: none;
}

.calendar__button:hover:after{
    opacity: 0.3;
}

.calendar__button:active:after{
    opacity: 0.8;
}

.calendar__button_prev:after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    opacity: 0.6;
    transform: rotate(45deg);
}

.calendar__button_next:after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    opacity: 0.6;
    transform: rotate(-45deg);
}

.calendar__days {
    list-style: none;
}

.calendar__table, .calendar__days {
    display: grid;
    grid-template-columns: repeat(7,14%);
    grid-row-gap: 1px;
    grid-column-gap: 1px;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
}

.calendar__date {
    padding: 10px;
    border: 2px solid transparent;
    text-align: center;
    cursor: pointer;
    background: rgba(0,128,128,0.3);
    transition: 0.4s;
}

.calendar__date:hover {
    background: rgba(0,128,128,0.5);
}

.calendar__date:active{
    background: rgba(0,128,128,0.7);
    transition: none;
}

.calendar__date:disabled {
    background: rgba(0,128,128,0.1);
    opacity: 0.3;
    pointer-events: none;
    cursor: default;
}

.calendar__date_today {
    background:rgba(0,128,128,1) !important;
    border-radius: 3px;
}

.calendar__date_selected {
    background: rgba(0,128,128,0.7) !important;
    border: 2px solid teal;
    border-radius: 3px;
}